@font-face {
  font-family: Amelaryas;
  src: url("/fonts/Amerlaryas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.outerContainer {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.heroShade {
  /* background-color: rgba(182, 179, 179, 0); */
  background-image: url("/images/heroshade.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 105vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.innerContainer {
  background-image: url("/images/hero.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: 115vh;
}
.heroHeading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-inline: 20px;
}
.heroHeading img {
  width: 50vw;
  min-width: 350px;
}
.heroText {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: center;
  padding-inline: 10px;
  padding-top: 12px;
}
.heroHeadingBtn {
  display: flex;
  gap: 30px;
  margin-inline: auto;
  padding-top: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.heroHeadingBtn button {
  background-color: #000000cc;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #ffffff;
  font-family: Helvetica;
  padding: 18px 24px 14px 24px;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  min-height: 17px;
  cursor: pointer;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 3s;
}
.resBtn:hover {
  background-color: #ffffff;
  color: black;
}
@media only screen and (min-width: 420px) and (max-width: 768px) {
  .heroText {
    font-size: 18px;
  }
}
@media only screen and (max-width: 420px) {
  .heroText {
    font-size: 23px;
  }
  .innerContainer {
    height: 100vh;
    background-position: top;
  }
}

/* about home  */

.aboutSection {
  width: 100%;
  height: 110vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.aboutLeft {
  width: 45%;
  background-image: url("/images/aboutimg1.svg");
  background-position: left;
  /* filter: grayscale(1); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutRight {
  width: 55%;
  position: relative;

}
.aboutRightInside {
  position: relative;
  /* height: 150vh; */
  filter: contrast(120%);
  height: 100%;
  width: 100%;
  background-image: url("/images/aboutimg.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutRight img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.aboutShade {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutLeftShade {
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.75); */
  background-color: rgba(34, 32, 32, 0.9);
  filter: grayscale(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
}
.outline {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 80%;
  padding-left: 4vw;
}

.nLogo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-65%, -22%);
  height: 28%;
  width: 25%;
  z-index: 999;
  /* width: 100%; */
}

.aboutLeftText {
  font-family: Amelaryas;
  font-size: 1.9vw;
  font-weight: 400;
  /* line-height: 30px; */
  letter-spacing: 0em;
  color: #ffffff;
  /* padding: 30px 0px; */
  text-align: left;
}
.aboutLeftText span {
  color: #e4ac4c;
}
.aboutLeftContent {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  /* text-align: center; */
  color: #ffffff;
  margin-inline: auto;
  width: 300px;
  /* height: ; */
  z-index: 100;
}
.aboutText {
  /* background: #000; */
  /* width: 85%; */
  /* padding-top: 20px; */
  margin-inline: auto;
  z-index: 999;
}
.aboutBtn {
  padding-top: 1vw;
}
.menuBtn {
  /* margin-top: 20px; */
  z-index: 999;
  /* text-align: center; */
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #ffffff;
  font-family: Helvetica;
  padding: 18px 24px 10px 24px;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  min-height: 17px;
  cursor: pointer;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 3s;
}
.menuBtn:hover {
  background-color: #ffffff;
  color: black;
}
@media screen and (max-width:420px) {
  .aboutLeftContent{
    font-size: 13px;
    line-height: 20px;
  }
  
}